h1 {
    color: #f1ffcb;
    background-color: rgba(179, 54, 54, 0.9);
    /* border: 2px solid black ; */
    opacity: 1;
    background-image: url("./istockphoto-467367026-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-color: rgb(92, 182, 144);
    border-width: 4px;
    border-style: dashed dotted solid double;
    text-align: center;
    text-decoration: underline yellow solid 4px;
    text-transform: uppercase;
}

p {
    text-indent: 40px;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: justify;
    text-shadow: 1px 1px 0.3px rgb(43, 139, 230), -1px -1px 0.3px rgb(216, 34, 34);
}

.div1 {
    background-color: brown;
    height: 1000px;
    width: 100px;
    display: inline-block;
    position: relative;
    /* top: -20px; */
    left: 30px;
    z-index: 1;
}

.div2 {
    background-color: aqua;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    z-index: 0;
}
/* z-index decides which element will be on top when overlapping*/

.div2_1 {
    background-color: chocolate;
    position: absolute;
    top: 38px;
    left: 30px;
}

.div2_2 {
    background-color: cornflowerblue;
}

.div3 {
    display: inline-block;
    background-color: blue;
    color: aliceblue;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.div4 {
    display: inline-block;
    background-color: darkorange;
    position: sticky;
    top: 20px;
}

.spacing {
    background-color: goldenrod;
    border: 5px solid black;
    padding: 10px 5px;
    margin: 20px 10px;
    min-width: 200px;
    max-width: 550px;
    height: 20px;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: armenian;
}

.pseudo:link {
    color: blue;
}

.pseudo:visited {
    color: brown;
}

.pseudo:hover {
    color: chartreuse;
}

.pseudo:active {
    color: deeppink;
}

.div3:hover {
    background-color: peru;
}
/* pseudo class (uses a single colon) */

h2::after {
content: ' gone';
}
h2::before {
content: 'avchs ';
}
h2::selection {
    background-color: rgb(212, 156, 35);
    color: white;
}
p::first-letter {
    font-style: oblique;
    font-size: 30px;
}
p::first-line {
    font-style: italic;
    font-size: 20px;
    color: blueviolet;
}
/* pseudo element (uses two colons) */
@media screen and (max-width: 300px) {
    body{
        background-color: burlywood;
    }
}
@media screen and (min-width: 301px) and (max-width: 650px) {
    body{
        background-color: rgb(84, 216, 154);
    }
}
@media screen and (min-width: 651px) {
    body{
        background-color: rgba(61, 225, 231, 0.795);
    }
}
/* @media makes the website compatable to any device's screen */