<!DOCTYPE html>
<html>
    <head>
        <title>about page </title>
    </head>
    <body>
  <h1>about</h1>
  <% users.forEach((user)=>{ %>
  <p>Name: <%= user.Name %></p>
  <%})%>
    </body>
</html>