.box {
    display: flex;
    background-color: aqua;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.div1 {
    background-color: bisque;
    width: 100px;
    align-self: stretch;
    order: 1;
    flex-shrink: 1;
    flex-basis: 100px;
}
.div2 {
    background-color: rgb(235, 157, 63);
    width: 100px;
     align-self: self-end;
    order: 2;
    
}
.div3 {
    background-color: rgb(138, 89, 30);
     align-self: self-start;
    width: 100px;
    order: 3;
    /* flex-grow: 1; */
}
.div4 {
    background-color: rgb(175, 4, 104);
    width: 100px;
    
    order: 4;
}